*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.amiga{
    width: 100%;
    height: 100%;
}
main {
    display: block;
    place-items: center;
    height: 100vh;
    background-color: pink;
}
p {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    }
.options {
    display: flex;
    justify-content: space-around;
    margin: 3em 1em;
}

button {
    height: 3em;
    width: 3em;
    font-size: 3em;
}